/*
...normalize
*/
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background: #ffffff;
  width: 100%;
  margin-bottom: 1rem;
}
.tabs li {
  width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  color: #000000;
  padding: 1rem;
}
.tabs li.active {
  background-color: #e2e2e2;
  height: 100%;
}
