.LoginPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #082131;
}

.HeaderMenu {
  background-color: #423169;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  font-size: 80%;
  color: #ffffff;
}

.loginmainpage {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #082131;
}

.LoginText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.7rem;
  color: #082131;
}

.LoginBox {
  margin: 8rem;
  border: solid;
  border-color: #000000;
  width: 40rem;
  height: 25rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #082131;
}

.idpassword {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
  color: #082131;
}

.idtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #082131;
}

.id {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #082131;
}

.idbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #082131;
}

.password {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #082131;
}

.passbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #082131;
}

.loginButton {
  cursor: pointer;
  margin: 1rem;
  background-color: #302050;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: #000000;
  font-size: 1rem;
  height: 3.5rem;
  width: 22rem;
}

.loginoption {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.signup {
  margin: 0.3rem;
}

.findid {
  margin: 0.3rem;
}

.findpass {
  margin: 0.3rem;
}

.findres {
  margin: 0.3rem;
}

.loginselect {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logincus {
  font-size: 2rem;
  width: 3rem;
}

.loginemp {
  font-size: 2rem;
  width: 3rem;
}

.loginProcess {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  height: 2%;
  width: 30rem;
}
